<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/body.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/aside.css">
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <title>Trackgenix</title>
    </head>
    <body>
        <header>
            <img src= "../assets/image/burgerBtn.png" alt="BurguerBtn Image">   
            <input type="search" id="query" name="q" placeholder="">
        </header>
        <div class="contenedor">
            <aside>
                <div class="aside-conteiner">
                    <h2 class="title">
                        Menu
                    </h2>
                    <nav class="aside-menu">
                        <ul>
                            <li>
                                <a>Home</a>
                            </li>
                            <li>
                                <a>SingUp</a>
                            </li>
                            <li>
                                <a>Login</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="aside-contact">
                        <h2 class="title">
                            Contact
                        </h2>
                        <div class="aside-contactbox">
                            <p>
                            <img src="../assets/icons/Email.png" alt="MessageIcon Icon"> 
                            trackgenix@gmail.com
                            </p>
                            <p>
                                <img src="../assets/icons/Phone.png" alt="Call Icon"> 
                                (+54) 4545-9999
                            </p>
                            <p>
                                <img src= "../assets/icons/HomeIcon.png" alt="Home Icon"> 
                                1234 Somewhere Road
                                #8254 Nashville.
                            </p>
                        </div>            
                    </div>
                </div>
            </aside>
            <main>
                <section class="main-info">
                    <h1>
                        TRACKGENIX
                    </h1>
                    <h2 id="Subtitled">
                        Time control that simplifies your buisness
                    </h2>
                    <p>
                        The time control software to manage your employees
                        time in the easiest,gastest and most intuitive way.
                    </p>
                    <input type="submit" value="Learn More">
                    <img src= "../assets/image/Trackgenix.jpg" alt="Trackgenix icon">
                </section>
                <section class="main-features">
                    <h2 class="title">
                        Features
                    </h2>
                    <div class="main-articleconteiner">
                        <article>
                            <img src="../assets/icons/hours.png" alt="Horus Icon"> 
                            <p>
                                Hours log
                            </p>
                        </article>
                        <article>
                            <img src="../assets/icons/reports.png" alt="Reports Icon"> 
                            <p>
                                Reports
                            </p>
                        </article>
                        <article>
                            <img src="../assets/icons/search.png" alt="Resource management Icon"> 
                            <p>
                                Resource management
                            </p>
                        </article>
                        <article>
                            <img src="../assets/icons/group.png" alt="Multiple Role Icon"> 
                            <p>
                                Multiple Role 
                            </p>
                        </article>
                    </div>
                </section>
                <section class="main-whyusetrackgenix">
                    <h2 class="title">
                        Why use Trackgenix?
                    </h2>
                    <div class="main-whyusetrackgenixbox"> 
                        <img src= "../assets/image/Why use Trackgenix.jfif" alt="Why use Trackgenix Image">
                        <ul>
                            <li>
                                Productivity booster
                            </li>
                            <li>
                                Work traceability
                            </li>
                            <li>
                                Leadership and team management
                            </li>
                            <li>
                                Decision making
                            </li>
                        </ul>
                    </div>   
                </section>
                <section class="main-ask">
                    <h2 class="title">
                        Ask for more information:
                    </h2>
                    <div class="main-askbox">
                        <div class="askbox-group">
                            <input type="text" placeholder="Name">
                        </div>
                        <div class="askbox-group">
                            <input type="text" placeholder="Email">
                        </div>
                        <div class="askbox-group">
                            <select>
                                <option value="-Category-">-Category-</option>
                                <option value="Human Resource">Human Resources</option>
                                <option value="System">System</option>
                                <option value="Commercialization">Commercialization</option>
                            </select>
                        </div>
                        <div class="askbox-group">
                            <textarea name="Message" placeholder="Message"></textarea>
                        </div>
                    </div>  
                    <div class="askbox-groupbutton">
                        <div class=cancelButton><input type="submit" value="Cancel"></div>
                        <div class=submitButton><input type="submit" value="Send"></div>
                    </div>    
                </section>
                <section class="main-ourhistory">
                    <h2 class="title">
                        Our History
                    </h2>
                    <section class="main-ourhistorybox">
                        <img src="../assets/image/Our history.jfif" alt="Our history Image">
                        <p>
                            Since 2012, we are helped countless companies
                            across the globe build applications that empower
                            growth, leave a lasting impression, and transform
                            thier user experience.
                            GigaTech was created in 2012 by a trio of
                            They continue to perfect the craft of app
                            development and make a name for themselves.
                        </p>
                        <p class="main-mobilebox">
                            As the team grwe from three to ten, and from ten to
                            twenty, they explored new partnerships with major
                            techgnologies to propel their growth. GigaTech currently has
                            around 70 team members and exciting growth goals ahead of
                            them.
                        </p>
                    </section>
                </section>
                <section class="main-allblock">
                    <div class="block">
                        <h2>
                            PRODUCTS
                        </h2>
                        <p>
                            Features
                        </p>
                        <p>
                            Downloads
                        </p> 
                        <p>
                            Integrations
                        </p>
                        <p>
                            Additional features
                        </p>
                    </div>
                    <div class="block">
                        <h2>
                            COMPANY
                        </h2>
                        <p>
                            About us
                        </p>
                        <p>
                            Trusted by
                        </p>
                        <p>
                            Resources
                        </p>
                        <p>
                            Clients
                        </p>
                    </div>
                    <div class="finalBlock">
                    <h2>
                        SUPPORT
                    </h2>
                    <p>
                        Help
                    </p>
                    <p>
                        Tutorial
                    </p> 
                    <p>
                        Api
                    </p>
                    <p>
                        Contact
                    </p>   
                    </div>
                </section>
            </main>
            <footer>
                    <picture class="footer-img">
                    <img src="../assets/icons/Twitter.png" alt="twitter icon">
                    <img src="../assets/icons/Facebook.png" alt="Facebook icon">
                    <img src="../assets/icons/in.png" alt="Linkedin icon">
                    <img src="../assets/icons/Instagram.png" alt="instagram icon">
                    <img src="../assets/icons/Github.png" alt="Github icon">
                    </picture>
                <p>
                    Rosario,Argentina
                </p>
                <p>
                    Copyright 2022 GigaTech Software Soulutions SA.
                </p>
                <p>
                    All rights reserved.
                </p>
            </footer>
        </div>
        </div>
    </body>
</html>