
header{
    width: 100%;
    height: 126px;
    z-index: 1;
    background-color: #AACE9B;
}

.ClearFix{
   clear:both;
}

footer{

}

.Header-Burguer{
    align-items: center;
}

.Header-Burguer > img {
    position:relative;
    width: 45px;
    height: 44.61px;
    top: 41px;
    left: 40px;
   
}

.Header-Burguer > input {
   position: relative;
   margin: auto;
   left: 568px;
   top: 30px;

   width: 377px;
   height: 36px;
   background: #D8E7EB;
   border: 1px solid #D6D6D6;
   border-radius: 50px;
}

aside {
 clear:both;
 float: left;
 width:25%;
}

.aside-Conteiner{
    position:relative;
    min-height: 3500px;
    border-right:2px solid gray;
}

.aside-Conteiner > h2{
    position:absolute;
    border-bottom:3px solid #AACE9B;
    width: 100px;
    height: 65.5px;
    left: 55px;
    top: 80px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    
    color: #373867;
}

.aside-Menu{
position: absolute;
width: 100%;
top: 212px;
left: 0px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 35px;

color: #373867;
}

.aside-Menu > ul > li {
margin-top:72px; 
border-bottom:  1px solid grey;
height: 45px;
}

.aside-Menu > ul > li > a {
    position:relative;
    left: 55px;
    bottom: 36px;
}

.aside-Contact {
position:relative;
width: 100px;
height: 65.5px;
left: 55px;
top: 599px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 30px;
border-bottom:3px solid #AACE9B;
color: #373867;
}

.aside-Contact > h2 {
margin-bottom: 61px;
}

.aside-Contact > p {
    margin: 29px;
    width: 279px;
    height: 29px;
    left: 113px;
    top: 680px;
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
}

.aside-Contact > p> img {
width: 29px;
height: 29px;
left: 55px;
top: 657px;
}

main{
    position: relative;
    float :left;
    width: 75%;
    }

.main-Info >  h1 {
position: relative;
width: 473px;
height: 44px;
left: 28px;
top: 65px;


font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 56px;
letter-spacing: 0.3em;

color: #373867;
}
.main-Info >  img {
    position:relative;
    margin-left:29px;
    width: 458px;
    height: 449px;
    left: 622px;
    bottom: 130px;
}
.main-Info >  h2 {
    position: relative;
    width: 612px;
    height: 26px;
    left: 28px;
    top: 109px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    
    color: #AACE9B;
}
.main-Info > p {
position: relative;
width: 617px;
height: 62px;
left: 28px;
top: 172px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;

color: #373867;
}

.main-Info > input{
    /* Button Big */


box-sizing: border-box;

display: flex;
flex-direction: row;
align-items: center;
padding: 27px 38px;
gap: 10px;

position: relative;
left: 28px;
top: 220px;

/* Colors / White */

background: #FFFFFF;
/* Light Grayish Green - Secondary variant color */

border: 3px solid #AACE9B;

}


.main-Features > h2{
    position: relative;
    width: 127px;
    height: 36px;
    left:28px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    border-bottom:3px solid #AACE9B;
    color: #373867;
    margin-bottom: 13px;

}


.main-Features > article
{
    position: relative;
    left: 28px;
    display: inline-block;
    width: 34%;

}

.main-Features > article > img
{
    width: 91.68px;
    height: 88.91px;
    margin-bottom: 66.8px;
}

.main-Features > article > p
{   
    position: absolute;
    vertical-align: middle;
    top:31px;
    left: 125.74px;
    width: 150px;
    height: 89px;




    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    
    color: #373867;

}


.box{
    width: 100%;
    margin: auto;
}


.main-WhyUseTrackgenix > h2{
width: 304px;
height: 51.5px;
left: 421px;
top: 1174px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 38px;
/* identical to box height */


color: #373867;
border-bottom:3px solid #AACE9B;

}

.main-WhyUseTrackgenix > img{
    margin-top: 44.5px;
    margin-right: 103px;
}

.Box{
    position: relative;
    border: 10px #cccc;
    padding-left: 24px;
    padding-top: 44.5px;
    padding-bottom: 142px;
    border-radius: 1px;
}

.Box > img {

    width: 331px;
    height: 241px;
}

.Box > ul{
    position:absolute;
    left: 458px;
    top:50.71px;
}

.Box > ul > li{
padding-left: 32.12px;    
padding-bottom: 42px;
list-style-image: url(/Users/Gonza/Documents/GitHub/BaSP-A2022-Etapa-1/assets/icons/WhyIconpng.png);
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;

color: #373867;

}



    

