main{
    flex: 1;
    background-color: #ffffff;
}
.main-features,.main-ask,.main-whyusetrackgenix,.main-ourhistory, .main-allblock{
    margin: 10px;
}

@media   (min-width :834px) {

    .main-Features,.main-Ask,.main-WhyUseTrackgenix,.main-Our-History, .main-all-Block{
        margin: 39px;
    }
    
}
@media(min-width :1512px) {

    .main-Features,.main-Ask,.main-WhyUseTrackgenix,.main-Our-History, .main-all-Block{
        margin: 24px;
    }
    
}
.main-info{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}
.main-info > h1{
    padding: 5px 73px 5px 73px;
    order: 1;
}
.main-info > h2[id = "Subtitled"] {
   order:2;
}
.main-info > img{
    width: 155px;
    height: 144px;
    margin:5px;
    order: 3;
}
.main-info > p{
    width: 283px;
    height: 42px;
    text-align: center;
    order: 4;
}
.main-info > input{
    display: none;
    align-items: center;
    order: 5;
    margin-top: 36px;
    padding: 14px 36px;
    color: #AACE9B;
    background: #FFFFFF;
    border: 3px solid #AACE9B;
    border-radius: 5px;
}

@media(min-width : 834px){
    .main-info > img{
        width: 196px;
        height: 226px;
        margin: 14px;
    }
    .main-info > p{
        width: 562px;
        height: 120px;
    }  
}

@media(min-width :1512px){
    .main-info{
        align-items: flex-start;
        padding-left: 28px;
        padding-bottom: 230px;
    }
    .main-info > h1{
        padding: 65px 0px 0px 0px;
    }
    .main-info > h2[id = "Subtitled"]{
        padding: 37px 0px 0px 0px;
    }
    .main-info > p{
        width: 570px;
        height: 62px;
        order: 3;
        padding-top: 38px;
        text-align: center;
    }
    .main-info > img{
        position:absolute;
        width: 458px;
        height: 449px;
        bottom: 240px;
        right: 34px;
        align-self: flex-end;
        order: 5;
    }
    .main-info > input{
        display: revert;
        order: 4;
    }  
}


.main-features > h2{
    width: 55px;
}
.main-articleconteiner{
    display:flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.main-articleconteiner > article{
    display: flex;
    justify-content: center;
    flex-basis: 100px;
    padding-bottom: 30px;
}
.main-articleconteiner > article > img{
    width: 40px;
    height: 40px;
}
.main-articleconteiner >article >  p{
    padding: 10px 5px 1px 5px;
    width: 85px;
    height: 30px;
    font-weight: 700;
}

@media(min-width : 834px){
.main-features > h2{
    width: 127px;
}
.main-articleconteiner > article > img{
    width: 91.68px;
    height: 88.91px;
}
.main-articleconteiner > article{
    justify-content: flex-start;
    flex-basis: 370px;
}
.main-articleconteiner >article >  p{
    width: 140px;
    padding: 10px 0px 0px  71px;    
}
}
@media(min-width : 1512px){
.main-articleconteiner >article >  p{
     width: 200px;
}
}
    
.main-whyusetrackgenix > h2{
    width: 133px;
    height: 16px;
 }
.main-whyusetrackgenixbox{
    display:flex;
    justify-content: space-between;
    padding:10px 12px 25px 10px;
 }
.main-whyusetrackgenixbox > img{
    width: 130px;
    height: 95px;
}
ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
}
li{
    list-style: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #373867;
}
.main-whyusetrackgenixbox > ul > li::before{
    content: '';
    display: inline-block;
    height: 11px;
    width: 15px;
    background-image: url(/Users/Gonza/Documents/GitHub/BaSP-A2022-Etapa-1/assets/icons/Mayor.png);
    background-size: 6px 12px;
    background-repeat: no-repeat;
}

@media  (min-width : 834px){
.main-whyusetrackgenix > h2{
    width: 304px;
    height: 33px;
}
.main-whyusetrackgenixbox{
    padding:30px 37px 25px 10px;
}
.main-whyusetrackgenixbox > img{
    width: 299.81px;
    height: 210.14px;
}
.main-whyusetrackgenixbox > ul{
    justify-content: space-evenly ;
    padding-left: 10px;
}
.main-whyusetrackgenixbox > ul > li{
    font-size: 24px;
    line-height: 28px;
}
.main-whyusetrackgenixbox > ul > li::before{
    height: 14px;
    background-size: 8px 12px;
}
}
@media  (min-width : 1512px) {
.main-whyusetrackgenix > h2{
    width: 304px;
    height: 38px;
}
.main-whyusetrackgenixbox {
    padding:30px 242px 117px 10px;
}
.main-whyusetrackgenixbox > img{
    width: 331px;
    height: 241px;
}
li{
    font-size: 24px;
    line-height: 28px;
}
.main-whyusetrackgenixbox > ul > li::before{
    height: 17px;
    background-size: 9px 15px;
}
}
.main-ask > h2{
    width: 170px;
    height: 16px;
}
.main-askbox{
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.main-askbox > .askbox-group{
    padding-bottom: 10px; 
}
.main-askbox > .askbox-group > input{
    max-width: 300px;
    width:100%;
    padding: 10px 12px;
    border: 1px solid #AACE9B;
    border-radius: 4px;
}
.main-askbox > .askbox-group > select{
    max-width: 325px;
    width:100%;
    padding: 10px 12px;
    border: 1px solid #AACE9B;
    border-radius: 4px;
}
.main-askbox > .askbox-group > textarea{
    max-width: 325px;
    width:100%;
    height: 97px;
    box-sizing: border-box;
    border: 1px solid #AACE9B;
    border-radius: 4px;
}
.askbox-groupbutton{
   display: flex;
   justify-content: flex-end;
   margin-right: 34px;
}
.submitButton > input[type = "submit"]{
    flex-direction: column;
    align-items: center;
    padding: 10px 24px;
    background-color: #AACE9B;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}
.cancelButton > input[type = "submit"]{
    flex-direction: column;
    align-items: center;
    padding: 10px 24px;
    margin-right: 15px;
    background: #FFFFFF;
    color: #AACE9B;
    border: 1px solid #AACE9B;
    border-radius: 5px; 
}

@media  (min-width : 834px){
.main-ask > h2 {
    width: 381px;
    height: 33px;
}
.main-askbox > .askbox-group > input{
    max-width: 700px;
}
.main-askbox > .askbox-group > select{
    max-width: 725px;
}
.main-askbox > .askbox-group > textarea{
    max-width: 725px;
}   
}
@media  (min-width : 1512px){
.main-ask > h2{
    width: 372px;
    height: 38px;
}
.main-askbox > .askbox-group > input{
    max-width: 623px;
}
.main-askbox > .askbox-group > select {
    max-width: 649px;
}
.main-askbox > .askbox-group > textarea{
    max-width: 649px;
    height: 203px;
}
.ask-Group-Button{
    margin-right: 398px;
}
.submitButton > input[type = "submit"]{
    padding: 14px 36px;
}
.cancelButton > input[type = "submit"]{
    padding: 14px 36px;
}

}    
.main-ourhistory > h2{
    width: 78px;
    height: 14px;
}
.main-ourhistorybox{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 28px 30px;
}
.main-ourhistorybox > p{
    order: 0;
    width: 331px;
    text-align: justify;
}
.main-ourhistorybox > img{
    order: 1;
    padding-top: 15px;
    width: 285px;
    height: 155px;
}
@media  (min-width : 834px){
.main-ourhistory > h2{
    width: 170px;
    height: 33px;
}
.main-ourhistorybox{
    padding-bottom: 109px;
}
.main-ourhistorybox > p{
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    width: 742px;
    text-align: center;
}
.main-mobilebox{
    display: none;
}
.main-ourhistorybox > img{
    width: 318px;
    height: 142px;
}
}
@media(min-width : 1512px){

    .main-ourhistory > h2{
        width: 160px;
        height: 38px;
    }
    .main-ourhistorybox {
        margin: 0px;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 44px;
    }
    .main-ourhistorybox > p{
        width: 560px;
    }
    .main-mobilebox{
        display: none;
    }
    .main-ourhistorybox > img{
        width: 456px;
        height: 256px;
    }
}
.main-allblock{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    border-right: 50px #373867;
}
.block{
   text-align: left;
   padding-right: 15px;
   border-right:1px solid #cccc;
}
.block > h2{
    padding-bottom: 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #373867;
}
.block >P{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}
.finalBlock > h2{
    padding-bottom: 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #373867;
}
.finalBlock >P {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

@media (min-width : 834px){
.block >P {
    font-size: 24px;
    line-height: 28px;
}
.block > h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}.block :nth-child(1){
    padding-right: 42px;
}
.finalBlock >P {
    font-size: 24px;
    line-height: 28px;
}
.finalBlock >h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
}
@media  (min-width : 1512) {
.main-allblock{
    justify-content:space-around;
    padding-right: 140px;
}
.block :nth-child(1){
    padding-right: 42px;
}
}
